joblib==1.0.1
tika==1.24
Owlready2==0.33
dash_core_components==1.17.1
dash_html_components==1.1.4
nltk==3.6.1
Unidecode==1.2.0
dash==1.21.0
pandas==1.2.4
numpy==1.20.1
plotly==5.1.0
Flask==1.1.2
Werkzeug==2.0.1
py2neo==2021.1.5
dash-bootstrap-components==0.13.0
passlib
flask-login
