{% extends "home.html" %}
{% block title %}Conditions générales{% endblock %}
{% block main_content %}


<h2 style="text-align:center; margin-top:20px ; color:#D30E6D">Conditions générales et politique de protection des données personnelles</h2>

<div style="padding-left: 200px;padding-right: 200px;padding-bottom: 100px;padding-top: 50px;">
    <h4>ARTICLE 1 : Les mentions légales</h4>

    <p>L’édition et la direction de la publication du site www.wevops.fr est assurée par Yassine El Maataoui, domicilié 55 Avenue de Colmar, 92500 Reuil-Malmaison.

    Numéro de téléphone est +33 1 87 66 99 18

    Adresse e-mail contact@wevops.fr.

    La personne est assujetie au RCS avec le numéro d’inscription 883 027 468 et son numéro de TVA intracommunautaire est le FR00883027468

    L’hébergeur du site www.wevops.fr est la société OVH, dont le siège social est situé au 2 rue Kellermann – 59100 Roubaix – France.</p>

    <h4>ARTICLE 2 : Accès au site</h4>

    <p>Le site www.wevops.fr  permet à l’Utilisateur un accès gratuit aux services suivants :

    Le site internet propose les services suivants :

    Application de l'analyse des CVs

    Le site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet. Tous les frais supportés par l’Utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet, etc.) sont à sa charge.</p>

    <h4>ARTICLE 3 : Collecte des données</h4>

    <p>Le site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure où il ne collecte aucune donnée concernant les Utilisateurs.

    <h4>ARTICLE 4 : Propriété intellectuelle</h4>

    <p>Les marques, logos, signes ainsi que tous les contenus du site (textes, images, son…) font l’objet d’une protection par le Code de la propriété intellectuelle et plus particulièrement par le droit d’auteur.

    L’Utilisateur doit solliciter l’autorisation préalable du site pour toute reproduction, publication, copie des différents contenus. Il s’engage à une utilisation des contenus du site dans un cadre strictement privé, toute utilisation à des fins commerciales et publicitaires est strictement interdite.

    Toute représentation totale ou partielle de ce site par quelque procédé que ce soit, sans l’autorisation expresse de l’exploitant du site Internet constituerait une contrefaçon sanctionnée par l’article L 335-2 et suivants du Code de la propriété intellectuelle.

    Il est rappelé conformément à l’article L122-5 du Code de propriété intellectuelle que l’Utilisateur qui reproduit, copie ou publie le contenu protégé doit citer l’auteur et sa source.</p>

    <h4>ARTICLE 5 : Responsabilité</h4>

    Les sources des informations diffusées sur le site www.wevops.fr sont réputées fiables mais le site ne garantit pas qu’il soit exempt de défauts, d’erreurs ou d’omissions.

    Les informations communiquées sont présentées à titre indicatif et général sans valeur contractuelle. Malgré des mises à jour régulières, le site www.wevops.fr ne peut être tenu responsable de la modification des dispositions administratives et juridiques survenant après la publication. De même, le site ne peut être tenue responsable de l’utilisation et de l’interprétation de l’information contenue dans ce site.

    Le site www.wevops.fr ne peut être tenu pour responsable d’éventuels virus qui pourraient infecter l’ordinateur ou tout matériel informatique de l’Internaute, suite à une utilisation, à l’accès, ou au téléchargement provenant de ce site.

    La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d’un tiers.</p>

    <h4>ARTICLE 6 : Liens hypertextes</h4>

    <p>Des liens hypertextes peuvent être présents sur le site. L’Utilisateur est informé qu’en cliquant sur ces liens, il sortira du site www.wevops.fr. Ce dernier n’a pas de contrôle sur les pages web sur lesquelles aboutissent ces liens et ne saurait, en aucun cas, être responsable de leur contenu.</p>


    <h4>ARTICLE 7 : Droit applicable et juridiction compétente</h4>

    <p>La législation française s’applique au présent contrat. En cas d’absence de résolution amiable d’un litige né entre les parties, les tribunaux français seront seuls compétents pour en connaître.

    Pour toute question relative à l’application des présentes CGU, vous pouvez joindre l’éditeur aux coordonnées inscrites à l’ARTICLE 1.</p>
</div>
{% endblock %}